<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<%= check_for_something('posts') %>
<%= render @user.posts %>
<hr>
<%= check_for_something('comments') %>
<%= render @user.comments %>
<hr>
<%= check_for_something('favorites') %>
<% @user.favorites.each do |f| %>
  <%= render partial: '/posts/post', locals: {post: f.post} %>
<% end %>
